<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.alian.fabric_mobile_mvvm">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fabricmobilemvvm"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="stateHidden"
        tools:targetApi="m">
        <activity android:name=".ui.main.view.fabric.AddFabricDetailActivity"></activity>
        <activity android:name=".ui.main.view.fabric.FabricDetailActivity" />
        <activity android:name=".ui.main.view.fabric.UpdateFabricActivity" />
        <activity android:name=".ui.main.view.fabric.AddFabricActivity" />
        <activity android:name=".ui.main.view.fabric.FabricActivity" />
        <activity
            android:name=".ui.main.view.fragment.FabricFragment"
            tools:ignore="Instantiatable" />
        <activity android:name=".ui.main.view.DashboardActivity" />
        <activity android:name=".ui.main.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>